BASE_URL=http://lojaebac.ebaconline.art.br
GRAPHQL_PATH=/graphql
COUPONS_PATH=/wp-json/wc/v3/coupons
API_AUTH_TOKEN=
API_BASIC_USER=admin_ebac
API_BASIC_PASS=@admin!&b@c!2022
REQUEST_TIMEOUT=30000
EXISTING_COUPON_ID=1
